body {
  margin: 0;
  padding: 70px 0px 20px 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-table tbody tr td, .list-table thead th {
  font-size: small;
  padding: 0.3rem;
  line-height: 1.0;
  white-space: normal;
}

.star-bronze path {
  fill: url(#gbronze);
}
.star-silver path {
  fill: url(#gsilver);
}
.star-gold path {
  fill: url(#ggold);
}

.contest-regular-table-responsive {
  font-size: small;
}
.contest-regular-table-responsive td {
  padding: 12px 6px 12px 6px;
}

.contest-other-table-responsive {
  font-size: small;
}
.contest-other-table-responsive td {
  padding: 12px 6px 12px 6px;
  min-width: 80px;
}

.table-problem {
  position: relative;
}
.table-problem-solved, .table-problem-solved>td, .table-problem-solved>th {
  background-color: #c3e6cb;
}
.table-problem-solved-intime, .table-problem-solved-intime>td, .table-problem-solved-intime>th {
  background-color: #9AD59E;
}
.table-problem-solved-before-contest, .table-problem-solved-before-contest>td, .table-problem-solved-before-contest>th {
  background-color: #99CCFF;
}
.table-hover .table-problem-solved-intime:hover, .table-hover .table-problem-solved-intime:hover>td, .table-hover .table-problem-solved-intime:hover>th {
  background-color: #88CC88;
}
.table-hover .table-problem-solved-before-contest:hover, .table-hover .table-problem-solved-before-contest:hover>td, .table-hover .table-problem-solved-before-contest:hover>th {
  background-color: #88BBFF;
}

.table-problem-timespan {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #888888;
  font-size: x-small;
}

.table-problem-stars {
  position: absolute;
  left: 0;
  top: 0;
  font-size: x-small;
}

.difficulty-red {
  color: #FF0000;
}
.difficulty-orange {
  color: #FF8000;
}
.difficulty-yellow {
  color: #C0C000;
}
.difficulty-blue {
  color: #0000FF;
}
.difficulty-cyan {
  color: #00C0C0;
}
.difficulty-green {
  color: #008000;
}
.difficulty-brown {
  color: #804000;
}
.difficulty-grey {
  color: #808080;
}